body{
	font-family: Arial, Sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#calculator{
	max-width: 500px;
	overflow: hidden;
}
#display{
	padding: 20px;
	width: 300px;
	height: 30px;
	font-size: 2rem;
}
#buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 25px;
}
button{
	border-radius: 10px;
	border: 2px solid black;
	margin: 15px;
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	cursor: pointer;
}
input{
	border-radius: 10px;
	border: 2px solid black;
	margin: 15px;
}
img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 2px;
}
#buttons button:hover{
	background-color: hsl(0, 0%, 76%);
}
#buttons button:active{
	background-color: hsl(0, 0%, 65%);
}